@{
    ViewBag.process = "İlaç Etkileşimleri";
    ViewBag.Title = "İletişim";
}

@Html.ValidationMessage("_HATA")
@using (Html.BeginForm("iletisim", "Home"))
{
    <div class="form-group">
        @Html.TextBox("mail", "", new { @class = "form-control input-lg", @placeholder = "mail" })
    </div>
    <div class="form-group">
        @Html.TextBox("konu", "", new { @class = "form-control input-lg", @placeholder = "konu" })
    </div>
    <div class="form-group">
        @Html.TextArea("ileti", "", new { @class = "form-control input-lg", @placeholder = "ileti" })
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-custom">Gönder</button>
    </div>
}