<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ilacetkilesimleri.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ilacetkilesimleri.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ilacetkilesimleri</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ilacetkilesimleri</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureMssqlConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ilac_etkilesimleri.TingoonDbContext, ilac-etkilesimleri" MigrationConfiguration="ilac_etkilesimleri.Migrations.Configuration, ilac-etkilesimleri" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureMssqlConnection1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ibrahimekinciazuredbmsqlserver.database.windows.net,1433;Initial Catalog=ibrahimekinciAzureDbMsql;Persist Security Info=False;User ID=ibrahimekinci36;Password=.Standart1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureMssqlConnection1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ibrahimekinciazuredbmsqlserver.database.windows.net,1433;Initial Catalog=ibrahimekinciAzureDbMsql;Persist Security Info=False;User ID=ibrahimekinci36;Password=.Standart1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalMssqlConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-A6S728R;Initial Catalog=ilac_etkilesimleri;User ID=sa;Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalMssqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-A6S728R;Initial Catalog=ilac_etkilesimleri;User ID=sa;Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureMysqlConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Database=acsm_cf85d2b5eab6b43;Data Source=br-cdbr-azure-south-b.cloudapp.net;User Id=b3b5381ee04911;Password=1eac234c" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureMysqlConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=acsm_cf85d2b5eab6b43;Data Source=br-cdbr-azure-south-b.cloudapp.net;User Id=b3b5381ee04911;Password=1eac234c" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ilac_etkilesimleri.mdf;Initial Catalog=ilac_etkilesimleri;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ilac_etkilesimleri.mdf;Initial Catalog=ilac_etkilesimleri;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FileMdfConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ilac_etkilesimleri.mdf;Initial Catalog=ilac_etkilesimleri;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FileMdfConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ilac_etkilesimleri.mdf;Initial Catalog=ilac_etkilesimleri;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FileSdfConnection" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\ilac_etkilesimleri.sdf" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FileSdfConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|\ilac_etkilesimleri.sdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureMssqlConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureMssqlConnection1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureMysqlConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FileMdfConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FileSdfConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalMssqlConnection-Web.config Connection String" />
  </ItemGroup>
</Project>